body {
background-image:linear-gradient(to right,black, white);
}
.full-circle {
    background-color:#c06;
    height:150px;
    width:150px;
    -webkit-border-radius:75px;
    -moz-border-radius:75px;
}
p{
  color: white;
  position: fixed;
  font-size: 23px;
  text-align: center;

}
#second-circle {
    background-color:red;
    height:150px;
    width:150px;
    -webkit-border-radius:75px;
    -moz-border-radius:75px;
    position:absolute;
    margin-top: 15px;
    margin-left: 20px;
}
#third-circle  {
    background-color:green;
    height:150px;
    width:150px;
    -webkit-border-radius:75px;
    -moz-border-radius:75px;
    position: absolute;
    margin-top: 40px;
    margin-left: 50px;
}
#fourth-circle
{
   background-color:blue;
   height:150px;
   width:150px;
   -webkit-border-radius:75px;
   -moz-border-radius:75px;
   position: absolute;
}

#transparent-circle {
    background-color: rgba(204, 0, 102, 0);
    border: 3px solid #867AC3;
    height:300px;
    width:300px;
    -webkit-border-radius:150px;
    -moz-border-radius:150px;
}
